.payments {
  @include padding-container-x;
  @include padding-container-y;
  padding-top: 0;

  &-banks {
    display: flex;
    .owl-stage {
      display: flex;
      align-items: stretch;
      .owl-item {
        display: flex;
        align-items: center;
      }
    }
  }
  &-bank {
    &-wrapper {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
    }
    width: 100%;
  }
}
