@import "../../layout/layout";
@import "../../components/breadcrumb/breadcrumb";
@import "../../components/banner/banner";
@import "../../components/pagination/pagination";

@include bg;
main {
  @include padding_container_x;
  @include padding_container_y;
}
.guides {
  $photoContainerWidth: 25%;

  &-row {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    @media (min-width: 992px) {
      .guides-content {
        padding-left: 3rem;
      }
    }
  }

  &-photo-container {
    width: $photoContainerWidth;
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &-content {
    width: 100% - $photoContainerWidth;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &-photo {
    border-radius: 10px;
    @media (max-width: 992px) {
      height: 300px;
      margin-bottom: 0.5rem;
    }
  }

  &-buttons {
    display: flex;
    flex-wrap: wrap;

    .button:not(.secondary) {
      margin-right: 0.5rem;
    }
  }
}

.pagination {
  margin-top: 6rem;
}
